:root {
   --color-primary: rgb(179, 6, 6);
   --color-danger: rgb(179, 6, 6);
   --color-success: #41f1b6;
   --color-white: #fff;
   --color-info-dark: #7d8da1;
   --color-info-light: #dce1eb;
   --color-dark: #363949;
   --color-warnig: #ff4edc;
   --color-light: rgba(132, 139, 200, 0.18);
   --color-primary-variant: #111e88;
   --color-dark-variant: #677483;
   --color-background: #f1e7e7;
   --color-black:black;
   --color-content:black;


   --card-border-radius: 2rem;
   --border-radius-1: 0.4rem;
   --border-radius-2: 0.8rem;
   --border-radius-3: 1.2rem;

   --card-padding: 1.8rem;
   --padding-1: 1.2rem;
   --box-shadow: 0 2rem 3rem var(var(--color-light));

   --white: #fff;
   --black: #000;
   --bg: #f8f8f8;
   --grey: #999;
   --dark: #1a1a1a;
   --light: #e6e6e6;
   --wrapper: 1000px;
   --blue: #00b0ff;
}



 /* ----------- Dark theme varibles --------------- */


.dark-theme-variables{
   --color-primary:#e2c0c0;
   --color-danger: #cc2a2a;
   --color-background:#181a1e;
   --color-white:#202528;
   --color-dark:#edeffd;
   --color-dark-variant:#a3bdcc;
   --color-light:rgba(0,0,0,0.4);
   --color-black:#e2c0c0;
   --color-content:#e2c0c0;
}





* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   border: 0;
   list-style: none;
   appearance: none;
}

html {
   font-size: 14px;
}

body {
   font-family: 'poppins', sans-serif;
   width: 100vw;
   height: 100vh;
   font-size: 0.88rem;
   overflow-x: hidden;
   background-color: var(--color-background);
   /* color: var(--color-dark); */
}

.container {
   display: grid;
   width: 96%;
   margin: 0 auto;
   gap: 1.8rem;
   grid-template-columns: 14rem auto 22rem;
}

a {
   color: var(--color-dark);
}

img {
   display: block;
   width: 100%;
}

h1 {
   font-weight: 800;
   font-size: 1.8rem;
   color: var(--color-black);
}

h2 {
   font-size: 1.4rem;
   color: var(--color-black);
}

h3 {
   font-size: 0.87rem;
   color: var(--color-black);
}

h4 {
   font-size: 0.8rem;
}

h5 {
   font-size: 0.77rem;
}

small {
   font-size: 0.75rem;
}

.profile-photo {
   width: 2.8rem;
   height: 2.8rem;
   border-radius: 50%;
   overflow: hidden;
}

.text-muted {
   color: var(--color-info-dark);
}

p {
   color: var(--color-dark-variant);
}

b {
   color: var(--color-dark);
}

.primary {
   color: var(--color-primary);
}

.danger {
   color: var(--color-danger);
}

.success {
   color: var(--color-success);
}

.warning {
   color: var(--color-warnig);
}


aside {
   height: 100vh;

}

aside .top {
  
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 1.4rem;
}

aside .logo {
   display: flex;
   gap: 0.8rem;
}

aside .logo img {
   width: 2.5rem;
   height: 2.2rem;
}

aside .close {
   display: none;
}

/* ================ SIDEBAR ================== */

aside .sidebar {
 
   display: flex;
   flex-direction: column;
   height: 86vh;
   position: relative;
   top: 3rem;
}

aside h3 {
   font-weight: 500;
}


aside .sidebar a {
   display: flex;
   color: var(--color-info-dark);
   margin-left: 2rem;
   gap: 1rem;
   align-items: center;
   position: relative;
   height: 3.7rem;
   transition: all 300ms ease;
}

aside .sidebar a span {
   font-size: 1.6rem;
   transition: all 300ms ease;
}

aside .sidebar a:last-child {
   position: absolute;
   bottom: 2rem;
   width: 100%;
}

aside .sidebar a.active {
   background-color: var(--color-light);
   color: var(--color-primary);
   margin-left: 0;
}

aside .sidebar a.active:before {
   content: "";
   width: 6px;
   height: 100%;
   background-color: var(--color-primary);
}

aside .sidebar a.active span {
   color: var(--color-primary);
   margin-left: calc(1rem - 3px);
}
aside .sidebar a.active .massages-count {
   color: var(--color-white);
   margin-left: calc(1rem - 3px);
}
aside .sidebar a:hover {
   color: var(--color-primary);
}

aside .sidebar a:hover span {
   margin-left: 1rem;
}

aside .sidebar .massages-count {
   background-color: var(--color-danger);
   color: var(--color-white);
   padding: 2px 10px;
   font-size: 11px;
   border-radius: var(--border-radius-1);
}

main {
   margin-top: 1.4rem;
   display: block;
   
}

main .date {
   display: flex;
   background-color: var(--color-light);
   border-radius: var(--border-radius-1);
   margin: 1rem;
   padding: 0.5rem 1.6rem;
   width: 23%;
}
.date p {
   padding-right: 10px;
}
.date img {
   width: 14px;
   height: 14px;

  
}

main .date input[type='date'] {
   background-color: transparent;
   color: var(--color-dark);
}


main h1{
   padding-left: 1rem;
}
main .recent-order {
   margin-top: 2rem;
}

main .recent-order h2 {
   margin-bottom: 0.8rem;
}
main .recent-order h2{
   padding-left: 1rem;
}
main .recent-order table {
   background-color: var(--color-white);
   width: 100%;
   border-radius: var(--card-border-radius);
   padding: var(--card-padding);
   text-align: center;
   box-shadow: 0 3rem 2rem var(--color-light);
   transition: all 300ms ease;
}

main .recent-order table:hover {
   box-shadow: none;
}
main .recent-order .content{
   color:var(--color-content);

   
}
main table tbody td {
   height: 3rem;
   border-bottom: 1px solid var(--color-light);
   color: var(--color-dark-variant);

}
main table tbody .tex{
   height: 3rem;
   border-bottom: 1px solid var(--color-light);
   color: var(--color-dark-variant);
   display: flex;
   padding: 7px;
   margin-left: 30px;
}

main table tbody tr:last-child td {
   border: none;
}
.hidden {
   display: none;
 }
.btnn{
   display: flex;
}
.submit {
   background-color: var(--color-success);
   padding: 5px 10px;
   color: var(--color-white);
   border-radius: var(--border-radius-1);
   cursor: pointer;
   margin-right: 10px;

}
.reject{
   background-color:var(--color-primary);
   padding: 5px 10px;
   color: var(--color-white);
   border-radius: var(--border-radius-1);
   cursor: pointer;

   
}
main .recent-order a {
   text-align: center;
   display: block;
   margin: 1rem auto;
   color: var(--color-primary);
}

.right {
   margin-top: 1.4rem;
}
#right{
   display: block;
}
.right .top {
   display: flex;
   justify-content: end;
   gap: 2rem;
}

.right .top button {
   display: none;
}

.right .theme-toggler {
   background: var(--color-light);
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 1.6rem;
   width: 4.2rem;
   cursor: pointer;
   border-radius: var(--border-radius-1);
}

.right .theme-toggler span {
   font-size: 1.2rem;
   width: 50%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.right .theme-toggler span.active {
   background: var(--color-primary);
   color: white;
   border-radius: var(--border-radius-1);
}

.right .top .profile {
   display: flex;
   gap: 2rem;
   text-align: right;
}

/* =============== RECENT UPDATES =============== */
#right{
   display: block;
}
.right .recent-updates {
   margin-top: 1rem;
  
}
.right .recent-updates .notifHeader{
   display: flex;
}
.right .recent-updates h2 {
   margin-bottom: 0.8rem;
   padding: 1rem;
   display: flex;
}

#num-of-notif{
   background-color:#cc2a2a;
   color: #fff;
   display: flex;
   align-items: center;
   justify-content: center;
   font-weight: 700;
   width: 30px;
   height: 30px;
   border-radius: 0.5rem;
  margin-top: 15px;
}
.update{
   padding: 8px;
}
.unread{
   background-color:#e2c0c0;
   border-radius: 10px;
}
.unread p:first-of-type::after{
   content: "";
   background-color: #cc2a2a;
   width: 10px;
   height: 10px;
   display: inline-block;
   border-radius: 50%;
   
}
.right .recent-updates .updates {
   background: var(--color-white);
   padding: var(--card-padding);
   border-top-left-radius: var(--card-border-radius);
   border-bottom-left-radius: var(--card-border-radius);
   border-bottom-right-radius:8px;
   border-top-right-radius: 8px;
   box-shadow: 0 3rem 2rem var(--color-light);
   transition: all 300ms ease;
}

.right .recent-updates .updates:hover {
   box-shadow: none;
}

.right .recent-updates .updates .update {
   display: grid;
   grid-template-columns: 2.6rem auto;
   gap: 1rem;
   margin-bottom:1rem ;
}
/* ========== MEDIA QUERIES ============= */

@media screen and (min-width:1201px) and (max-width:1600px){
   #patientsData form{
      padding-top: 5%;
   }
   #hospitalData form{
      padding-top: 5%;
   }
      #addUsersSection{
         width: 90%;
         padding: 10%;
         align-items: center;
         justify-content: center;
      }
      #addHospitalBTN{
         width: 40%;
      }
      #addPatientsBtn{
         width: 40%;
      } 
 
     #addHospitalBTN img{
      width: 400px;
      height: 400px;
      padding: 10px 15px;
   
   }
   #addPatientsBtn img{
      width: 400px;
      height: 400px;
      padding: 10px 15px;
   }
}
@media screen and (max-width:1200px){
 

   .container{
      width: 94%;
      grid-template-columns:7rem auto 23rem ;
   }
   aside .logo h2{
      display: none;
   }
   aside .sidebar h3{
      display: none;
   }

   aside .sidebar a {
      width: 5.6rem;
   }
   .right .recent-updates {
      margin-top: 1rem;
      
  }
   aside .sidebar a:last-child {
      position: relative;
      margin-top: 1.8rem;

   }
   main h1{
      padding-left: 1rem;
   }
   main .insights{
      grid-template-columns: 1fr;
      gap:0;
   }
   main .recent-order {
      width: 94%;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      margin: 2rem 0 0 8.8rem;
   }
   main .recent-order h2{
      padding-left: 1rem;
   }
main .recent-order table {
   width: 83vw;
}
main table thead tr th:last-child,
main table thead tr th:first-child{
   display: none;
}


main table tbody tr td:last-child,
main table tbody tr td:first-child{
   display: none;
}

}







@media screen and (max-width:768px){
 

   .container{
      width:100%;
      grid-template-columns: 1fr;
      padding-right: 15px;
    
   }

   aside{
      position: fixed;
      left: -100%;
      background: var(--color-white);
      width: 18rem;
      z-index: 3;
      box-shadow: 1rem 3rem 4rem var(--color-light);
      height: 100vh;
      padding-right: var(--card-padding);
      display: none;
      animation: showMenu 400ms ease forwards;
   }
   .right .recent-updates {
      margin-top: 1rem;
 
  }
@keyframes showMenu {
   to{
      left: 0;
   }
}



aside .logo{
   margin-left: 1rem;
}
aside .logo h2{
   display: inline;
}


aside .sidebar h3{
   display: inline;
}

aside .sidebar a{
   width: 100%;
   height: 3.4rem;
}
aside .sidebar a:last-child{
   position: absolute;
   bottom: 5rem;
}
aside .close {
   display: inline-block;
   cursor: pointer;
}

main {
   margin-top: 8rem;
   padding: 0 1rem;
}
main h1{
   padding-left: 1rem;
}
main .date {
   display: flex;
   background-color: var(--color-light);
   border-radius: var(--border-radius-1);
   margin: 1rem;
   padding: 0.5rem 1.6rem;
   width: 40%;
}

main .recent-order {
   position: relative;
   margin: 3rem 0 0 0;
   width: 100%;
}
main .recent-order table {
   width: 100%;
   margin: 0;
}
.right {
   width: 94%;
   margin: 0 auto 4rem;
}
.right .top{
   position:fixed ;
   top: 0;
   left: 0;
   align-items: center;
   padding: 0 0.8rem ;
   height: 4.6rem;
   background: var(--color-white);
   width: 100%;
   margin: 0;
   z-index: 2;
   box-shadow: 0 1rem 1rem var(--color-light);
}
.right .top .theme-toggler {
   width: 4.4rem;
   position: absolute;
   left: 66%;

}
.right .profile .info{
   display: none;
}

.right .top button {
   display: inline-block;
   background: transparent;
   cursor: pointer;
   color: var(--color-dark);
   position: absolute;
   left: 1rem;
}

.right .top button span{
   font-size: 2rem;
}


}





/* scroll bar */

.updates{
   height: 400px;
   overflow: auto;

 
}


.updates::-webkit-scrollbar{

   width: 15px;



}


.updates::-webkit-scrollbar-track{
   background-color:var(--color-light);  
   border-radius: 10px;
   box-shadow: 0 0 10px #ddd inset;
   

   
}

.updates::-webkit-scrollbar-thumb{
   background-color:#ebbdbd;
   scroll-padding-right: 10px;

}
.updates::-webkit-scrollbar-thumb:hover{
   background-color:var(--color-danger);

}


.recent-orders{
   height: 550px;
   overflow: auto;
 
}


.recent-orders::-webkit-scrollbar{

   width: 15px;
   

}


.recent-orders::-webkit-scrollbar-track{
   background-color:var(--color-light);  
   box-shadow: 0 0 10px #ddd inset;  
}

.recent-orders::-webkit-scrollbar-thumb{
   background-color:#ebbdbd;
   scroll-padding-right: 10px;
  
}
.recent-orders::-webkit-scrollbar-thumb:hover{
   background-color:var(--color-danger);

}

::-webkit-scrollbar{
   width: 18px;
   
}


::-webkit-scrollbar-track{
   background-color:var(--color-light);
   box-shadow: 0 0 10px #ddd inset;

   
   
}

::-webkit-scrollbar-thumb{
   background-color:#ebbdbd;
   border-radius: 30px;

}
::-webkit-scrollbar-thumb:hover{
   background-color:var(--color-danger);

}



/* ************************************************ */

#massages{
   display: none;
}

#addNewUsers{
   display: none;
}
#reports{
   display: none;
}
#hospitals{
   display: none;

}
#settings{
   display: none;
}
#patients{
   display: none;
}




/* Hospitals */
mainn{
   position: relative;
   margin-right: 10px;
}

mainn .recent-orders {
   margin-top: 4rem;
   height: 630px;
}
mainn .search-box{
   width: 100%;
}
mainn .recent-orders table {
   background-color: var(--color-white);
   width: 100%;
   border-top-left-radius: 30px ;
   border-bottom-left-radius: 30px ;
   padding: var(--card-padding);
   text-align: center;
   box-shadow: 0 3rem 2rem var(--color-light);
   transition: all 300ms ease;
}

mainn .recent-orders table:hover {
   box-shadow: none;
}
mainn .recent-orders .content{
   color:var(--color-content);
}
mainn table tbody td {
   height: 3rem;
   border-bottom: 1px solid var(--color-light);
   color: var(--color-dark-variant);
}
mainn table tbody .tex{
   height: 3rem;
   border-bottom: 1px solid var(--color-light);
   color: var(--color-dark-variant);
   display: flex;
   padding: 7px;
}

mainn table tbody tr:last-child td {
   border: none;
}

mainn .recent-orders a {
   text-align: center;
   display: block;
   margin: 1rem auto;
   color: var(--color-primary);
}
mainn .submitBtn{
 margin-left: 10px;
 cursor: pointer;
 background-color: transparent;
}
mainn .rejectBtn{

   cursor: pointer;
   background-color: transparent;
   margin-left: 10px;
  }

.popup{
   width: 100%;
   height: 100%;
   background-color: rgb(229 210 210 / 80%);
   visibility: hidden;
   position: fixed;
   top: 0;
   left: 0;
   color: #333;
   z-index: 99;
   
   

}
.open-popup{
   visibility: visible;
   animation: show .7s ease-in-out;
   


}
@keyframes show
{   0%
    {
        transform: translateY(-100%);
    }
    100%
    {
        transform: translateY(0);
    }
}
.popup form {
   background-color: #fff;
   border-radius: 7px;
   padding: 20px;
   width: 400px;
   height: 300px;
   left: 50%;
   position: relative;
   margin-left: -150px;
   top: 50%;
   margin-top: -125px;
   text-align: center;
}

.popup form p{
   font-size: 18px;
   padding-top: 7%;

}
.popup form p span {
   color: #cc2a2a;
   font-size: 29px;
   padding-top: 15%;
   

}
.popup form input {
   margin-top: 7%;
   background-color:#cc2a2a;
   padding: 10px;
   color: #fff;
   font-size: 17px;
   font: bold;
   border-radius: 7px;
   cursor: pointer;
 

}
.closee{
   position: absolute;
   top: 7%;
   left: 88%;
   padding: 3px;
   padding-top: 6px;
   background-color:#cc2a2a ;
   border-radius: 7px;
   color: #fff;
   cursor: pointer;
   
}

#addUsersSection{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 90%;
   margin: 0 auto ;
   padding: 15px 0px;
   background-color: transparent;

}
#addHospitalBTN{
   /* width: 40%; */
   cursor: pointer;
   background: var(--color-white);
    padding: 20px 0px;
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: 0 3rem 2rem var(--color-light);
    transition: all 300ms ease;
}
#addPatientsBtn{
   /* width: 40%; */
   cursor: pointer;
   background: var(--color-white);
    padding: var(--card-border-radius);
    padding: 20px;
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: 0 3rem 2rem var(--color-light);
    transition: all 300ms ease;  
    margin-left: 20px;
}
#addHospitalBTN img{
 width:100%;
   margin: 0 auto;
   padding: 10px 15px;

}
#addPatientsBtn img{
   width:100%;
   margin: 0 auto;
   padding: 10px 15px;
}

#addPatientsBtn h2{
   
   width: 100px;
   height: 40px;
   padding: 10px 20px;
   margin: 0 auto;

}


#addHospitalBTN h2{
   
   width: 100px;
   height: 40px;
   padding: 10px 20px;
   margin: 0 auto;

}

#hospitalData{
   height: 100vh;
   width: 100%;
}
#hospitalData form{
   padding-top: 5%;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: flex-start;
   width: 100%;
   height: 100vh;
}
#hospitalData form input{
   width: 100%;
   height: 5%;
   padding: 5px;
   border-radius: 7px ;
   box-shadow: var(--box-shadow);
}
#hospitalData form button{
   width: 100%;
   height: 4%;
   background-color: var(--color-primary);
   color: var(--color-white);
   cursor: pointer;
   border-radius: 7px ;

}

#patientsData{
   height: 100vh;
   width: 100%;
}
#patientsData form{
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: flex-start;
   width: 100%;
   height: 100vh;
}
#patientsData form input{
   width: 100%;
   height: 5%;
   padding: 5px;
   border-radius: 7px ;
   box-shadow: var(--box-shadow);
}
#patientsData form button{
   width: 100%;
   height: 4%;
   background-color: var(--color-primary);
   color: var(--color-white);
   cursor: pointer;
   border-radius: 7px ;

}



/* ADD USERS */
.addHospitalBTN img{
height: 300px;
width: 300px;

}

.addHospitalBTN img{
   height: 300px;
   width: 300px;
   
   }
   


/* PATIENTSSS */
section{
   position: relative;
}
.search-box{
   display: flex;
   margin-top:15px;
   padding-left: 10px;
   width: 99.1%;
   flex-direction: row;
   align-items: center;
   background-color: #fff;
   position: absolute;
   border-radius: 5px;
   height:27px;
}
.search-box img{
   width: 20px;
   height: 20px;
}
.search-box input{
   padding-left: 5px;
   height: 20px;
   border: none;
   outline: none;
   width: 100%;
}
section .total-patient {
   margin-top: 4rem;

}

section .total-patient table {
   background-color: var(--color-white);
   width: 100%;
   border-top-left-radius: 30px ;
   border-bottom-left-radius: 30px ;
   padding: var(--card-padding);
   text-align: center;
   box-shadow: 0 3rem 2rem var(--color-light);
   transition: all 300ms ease;
}

section .total-patient table:hover {
   box-shadow: none;
}
section .total-patient .content{
   color:var(--color-content);
   padding: 5px;
   white-space: nowrap;
}
section table tbody td {
   height: 3rem;
   border-bottom: 1px solid var(--color-light);
   color: var(--color-dark-variant);
   padding: 5px;
   max-width: 395px;
   

}


section table tbody td .scrollable{

   width: 100%;
   height: 100%;
   padding-right: 20px;  
   overflow-y: auto;
   overflow-x: hidden;
  
}

section table tbody tr:last-child td {
   border: none;
}

section .total-patient a {
   text-align: center;
   display: block;
   margin: 1rem auto;
   color: var(--color-primary);
}
.total-patient{
   height: 550px;
   overflow: auto;
   width: 1080px;
}


.total-patient::-webkit-scrollbar{

   width: 15px;


}


.total-patient::-webkit-scrollbar-track{
   background-color:var(--color-light);
   box-shadow: 0 0 10px #ddd inset;
}

.total-patient::-webkit-scrollbar-thumb{
   background-color:#ebbdbd;
   scroll-padding-right: 10px;

}
.total-patient::-webkit-scrollbar-thumb:hover{
   background-color:var(--color-danger);

}
/* CHAT  SECTION  */

*, *:before, *:after {
   box-sizing: border-box;
}
.wrapperChat {
   position: relative;
   left: 50%;
   width: var(--wrapper);
   height: 800px;
   transform: translate(-50%, 0);
   top:-90px;
}
.containerChat {
   position: relative;
   top: 50%;
   left: 50%;
   width: 80%;
   height: 75%;
   background-color: var(--white);
   transform: translate(-50%, -50%);
}

.containerChat {
   position: relative;
   top: 50%;
   left: 50%;
   width: 80%;
   height: 75%;
   background-color: var(--white);
   transform: translate(-50%, -50%);
   overflow: auto;
}

.containerChat .leftChat {
   float: left;
   width: 37.6%;
   height: 100%;
   border: 1px solid var(--light);
   background-color: var(--white);
   /* overflow: auto; */
}
.containerChat .leftChat .topChat {
   position: relative;
   width: 100%;
   height: 96px;
   padding: 29px;
}
.containerChat .leftChat .topChat:after {
   position: absolute;
   bottom: 0;
   left: 50%;
   display: block;
   width: 80%;
   height: 1px;
   content: "";
   background-color: var(--light);
   transform: translate(-50%, 0);
}
.containerChat .leftChat input {
   float: left;
   width: 188px;
   height: 42px;
   padding: 0 15px;
   border: 1px solid var(--light);
   background-color: #eceff1;
   border-radius: 21px;
}
.containerChat .leftChat input:focus {
   outline: none;
}
.containerChat .leftChat a.searchChat {
   display: block;
   float: left;
   width: 42px;
   height: 42px;
   margin-left: 10px;
   border: 1px solid var(--light);
   background-color: var(--color-primary);
   background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/name-type.png");
   background-repeat: no-repeat;
   background-position: top 12px left 14px;
   border-radius: 50%;
}
.containerChat .leftChat .peopleChat {
   margin-left: -1px;
   border-right: 1px solid var(--light);
   border-left: 1px solid var(--light);
   width: calc(100% + 2px);
}
.containerChat .leftChat .peopleChat .personChat {
   position: relative;
   width: 100%;
   padding: 12px 10% 16px;
   cursor: pointer;
   background-color: var(--white);
}
.containerChat .leftChat .peopleChat .personChat:after {
   position: absolute;
   bottom: 0;
   left: 50%;
   display: block;
   width: 80%;
   height: 1px;
   content: "";
   background-color: var(--light);
   transform: translate(-50%, 0);
}
.containerChat .leftChat .peopleChat .personChat img {
   float: left;
   width: 40px;
   height: 40px;
   margin-right: 12px;
   border-radius: 50%;
   object-fit: cover;
}
.containerChat .leftChat .peopleChat .personChat .nameChat {
   font-size: 14px;
   line-height: 22px;
   color: var(--dark);
}
.containerChat .leftChat .peopleChat .personChat .timeChat {
   font-size: 14px;
   position: absolute;
   top: 16px;
   right: 10%;
   padding: 0 0 5px 5px;
   color: var(--grey);
   background-color: transparent;
}
.containerChat .leftChat .peopleChat .personChat .previewChat {
   font-size: 14px;
   display: inline-block;
   overflow: hidden !important;
   width: 70%;
   white-space: nowrap;
   text-overflow: ellipsis;
   color: var(--grey);
}

.container .leftChat .peopleChat li:hover {
   margin-top: -1px;
   margin-left: -1px;
   padding-top: 13px;
   border: 0;
   background-color: var(--color-primary);
   width: calc(100% + 2px);
   padding-left: calc(10% + 1px);
}
.containerChat .leftChat .peopleChat .personChat li.activeted {
   margin-top: -1px;
   margin-left: -1px;
   padding-top: 13px;
   border: 0;
   background-color: var(--color-primary);
   width: calc(100% + 2px);
   padding-left: calc(10% + 1px);
}
.containerChat .leftChat .peopleChat .personChat.activeted{
   background-color: var(--color-primary);
}
.containerChat .leftChat .peopleChat .personChat.activeted span, .containerChat .leftChat .peopleChat .personChat:hover span {
   color: var(--white);
   background: transparent;
}
.containerChat .leftChat .peopleChat .personChat.activeted:after, .containerChat .leftChat .peopleChat .personChat:hover:after {
   display: none;
}
.rightChat {
   position: relative;
   float: left;
   width: 62.4%;
   height: 100%;
   /* overflow-y: auto; */
}
.rightChat .topChat {
   width: 100%;
   height: 47px;
   padding: 15px 29px;
   background-color: #eceff1;
}

.rightChat .topChat span {
   font-size: 15px;
   color: var(--grey);
}

.rightChat .top span .name {
   color: var(--dark);
}
.rightChat .chat {
   position: relative;
   display: none;
   overflow: hidden;
   padding: 0px 35px 25px;
   /* border-width: 1px 1px 1px 0; */
   border-style: solid;
   border-color: var(--light);
   height: calc(100% - 48px);
   justify-content: flex-end;
   flex-direction: column;
   /* overflow-y: scroll; */
}

.rightChat .chat.active-chat {
   display: block;
   display: flex;
   /* overflow-y: scroll; */
}



.rightChat .bubble {
   font-size: 16px;
   position: relative;
   display: inline-block;
   clear: both;
   margin-bottom: 8px;
   padding: 13px 14px;
   vertical-align: top;
   border-radius: 5px;
   animation-duration: 0.3s; /* Ensure a default animation duration */
   transition-timing-function: cubic-bezier(0.4, -0.04, 1, 1);
}

.rightChat .bubble:before {
   position: absolute;
   top: 19px;
   display: block;
   width: 8px;
   height: 6px;
   content: "\00a0";
   transform: rotate(29deg) skew(-35deg);
}

.rightChat .bubble.you {
   float: left;
   color: var(--white);
   background-color: var(--color-primary);
   align-self: flex-start;
   animation-name: slideFromLeft; /* Ensure correct animation name */
}

.rightChat .bubble.you:before {
   left: -3px;
   background-color: var(--color-primary);
}

.rightChat .bubble.me {
   float: right;
   color: var(--dark);
   background-color: #eceff1;
   align-self: flex-end;
   animation-name: slideFromRight; /* Ensure correct animation name */
}

.rightChat .bubble.me:before {
   right: -3px;
   background-color: #eceff1;
}




.rightChat .write {
   position: absolute;
   bottom: 29px;
   left: 30px;
   height: 42px;
   padding-left: 8px;
   border: 1px solid var(--light);
   background-color: #eceff1;
   width: calc(100% - 58px);
   border-radius: 5px;
}
.rightChat .write input {
   font-size: 16px;
   float: left;
   width: 330px;
   height: 40px;
   padding: 0 10px;
   color: var(--dark);
   border: 0;
   outline: none;
   background-color: #eceff1;
}
.rightChat .write .write-link.send:before {
   display: inline-block;
   float: left;
   width: 20px;
   height: 42px;
   margin-left: 50px;
   content: "";
   background-image: url("../images/send.png");
   background-repeat: no-repeat;
   background-position: center;
   cursor: pointer;
}
.rightChat .bubble {
   font-size: 16px;
   position: relative;
   display: inline-block;
   clear: both;
   margin-bottom: 8px;
   padding: 13px 14px;
   vertical-align: top;
   border-radius: 5px;
}
.rightChat .bubble:before {
   position: absolute;
   top: 19px;
   display: block;
   width: 8px;
   height: 6px;
   content: "\00a0";
   transform: rotate(29deg) skew(-35deg);
}
.rightChat .bubble.you {
   float: left;
   color: var(--white);
   background-color: var(--color-primary);
   align-self: flex-start;
   animation-name: slideFromLeft;
}
.rightChat .bubble.you:before {
   left: -3px;
   background-color: var(--color-primary);
}

.rightChat .bubble.me {
   float: right;
   color: var(--dark);
   background-color: #eceff1;
   align-self: flex-end;
   animation-name: slideFromRight;
}
.rightChat .bubble.me:before {
   right: -3px;
   background-color: #eceff1;
}
.rightChat .conversation-start {
   position: relative;
   width: 100%;
   margin-bottom: 27px;
   text-align: center;
}
.rightChat .conversation-start span {
   font-size: 14px;
   display: inline-block;
   color: var(--grey);
}
.rightChat .conversation-start span:before, .rightChat .conversation-start span:after {
   position: absolute;
   top: 10px;
   display: inline-block;
   width: 30%;
   height: 1px;
   content: "";
   background-color: var(--light);
}
.rightChat .conversation-start span:before {
   left: 0;
}
.rightChat .conversation-start span:after {
   right: 0;
}
@keyframes slideFromLeft {
   0% {
      margin-left: -200px;
      opacity: 0;
  }
   100% {
      margin-left: 0;
      opacity: 1;
  }
}
@-webkit-keyframes slideFromLeft {
   0% {
      margin-left: -200px;
      opacity: 0;
  }
   100% {
      margin-left: 0;
      opacity: 1;
  }
}
@keyframes slideFromRight {
   0% {
      margin-right: -200px;
      opacity: 0;
  }
   100% {
      margin-right: 0;
      opacity: 1;
  }
}
@-webkit-keyframes slideFromRight {
   0% {
      margin-right: -200px;
      opacity: 0;
  }
   100% {
      margin-right: 0;
      opacity: 1;
  }
}
